#app
  width 100%
  min-height 100%
  font-family "Source Sans Pro", "Helvetica Neue", Arial, sans-serif, 'Microsoft YaHei'
  background #f2f4f6
  footer
    margin-top -50px
    height 30px
    p
      text-align center
      font-size 16px
      line-height 50px
      color #999
